* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.greybox {
    border: 2px solid black;
    background-color: darkgray;
    height: 190px;
    margin-bottom: 5%;
                
}

            
            
.chicken {
    text-align: center;
    background-color: LightCoral;
    position: absolute;
    outline: 2px solid black;
    font-size: 15px;
    font-weight: bold;
}
            
            
.beef {
    text-align: center;
    background-color: Brown;
    position: absolute;
    outline: 2px solid black;
    font-size: 15px;
    font-weight: bold;
}
            
            
.sushi {
    text-align: center;
    background-color: Khaki;
    position: absolute;
    outline: 2px solid black;
    font-size: 15px;
    font-weight: bold;
}
            

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        border: 2px solid black;
    }
    .col-lg-1 {
        width: 25%;
        margin-left: 5%;
        height: 8%;
    }
    .col-lg-11 {
        width: 8%;
        margin-left: 21.6%;
        height: 8%;
    }
                
    .col-lg-2 {
        width: 25%;
        margin-left: 5%;
        height: 8%;
    }
    .col-lg-22 {
        width: 8%;
        margin-left: 51.2%;
        height: 8%;
    }
                
    .col-lg-3 {
        width: 25%;
        margin-left: 5%;
        height: 8%;
    }
    .col-lg-33 {
        width: 8%;
        margin-left: 80.9%;
        height: 8%;
    }
              
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3 {
        border: 2px solid black;
        float: left;
    }
    .col-md-1 {
        width: 35%;
        margin-left: 10%;
        height: 8%;
    }
    .col-md-11 {
        width: 8.33%;
        margin-left: 35.6%;
        height: 8%;
    }
                
    .col-md-2 {
        width: 35%;
        margin-left: 12%;
        height: 8%;
    }
    .col-md-22 {
        width: 8.33%;
        margin-left: 82%;
        height: 8%;
    }
                
    .col-md-3 {
        width: 80%;
        margin-left: 10%;
        height: 8%;
        
    }
    .col-md-33 {
        width: 8.33%;
        margin-top: 21%;
        margin-left: 80.1%;
        height: 8%;
    }
}
            
/********** Small devices only **********/
@media (max-width: 992px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
        border: 2px solid black;
                    
        
    }
    .col-sm-1 {
        width: 90%;
        margin-left: 5%;
        height: 8%;
    }
                
    .col-sm-11 {
        width: 21%;
        height: 8%;
        margin-left: 72.1%;
    }
                
    .col-sm-2 {
        width: 90%;
        margin-left: 5%;
        height: 8%;
    }
                
    .col-sm-22 {
        width: 21%;
        height: 8%;
        margin-left: 72.1%;
    }
                
    .col-sm-3 {
        width: 90%;
        margin-left: 5%;
        height: 8%;
    }
                
    .col-sm-33 {
        width: 21%;
        height: 8%;
        margin-left: 72.1%;
    }
          
}